<body>
<div class="container">    
<H2 style="text-align: left; color:#e6e6e8">All Courses</H2>
<hr>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/assets/sample_course_thumbnail" alt="SampleCourse">
          <div class="caption">
            <h3>Sample Course1</h3>
            <p>Our very first course. Much Difficult; Very Excitement</p>
            <p><a href="#" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-default" role="button">Start</a></p>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/assets/sample_course_thumbnail" alt="SampleCourse">
          <div class="caption">
            <h3>Sample Course2</h3>
            <p>Our second course. Much fun!</p>
            <p><a href="#" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-default" role="button">Start</a></p>
          </div>
        </div>
      </div>
    </div>
</div>


</body>