<!DOCTYPE html>
<!--Objective: custom route making; just click on map to add markers and they will link up.-->
<head>
	<title>Courses</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% render 'layouts/shim' %>
  <%= render 'layouts/header' %>

</head>

<body class="body_map">
  <div class="container">
      <h3>The map</h3>
      <div id ="map">
      </div>
  </div>
</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDD4iRh-e5YvN2Ip9Xfda7wqLB6mGizxQ&callback=initialize" async defer>
</script>

<%= debug(params) if Rails.env.development? %>
