<!--Objective: custom route making; just click on map to add markers and they will link up.-->
<% provide(:title, "Location") %>

<head>
  <%= javascript_include_tag "fixed_map" %> <!-- need this, not <script src="assets/javascripts/loc_map">  -->
  <script src="https://maps.googleapis.com/maps/api/js?&callback=initialize" async defer>
  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% render 'layouts/shim' %>
</head>

<body class="body_map">
  <%= render 'layouts/header' %>
  <div id ="map">
  </div>
  <%= render 'layouts/footer' %>
</body>

<!-- Need to also include :  Rails.application.config.assets.precompile += %w( maps_custom.js)  in config/initializers/assets.rb
-->
