<% provide(:title, @u.name) %>

<div class="profile_container">
	<aside class="user_identity">
		<h2>
			<%= avatar_for @u %>
			<%= @u.name %>
		</h2>
	</aside>
	<p class="user_profile">
		User profile.
	</p>
</div>

