<% provide(:title, @u.name) %>

<div class="profile_container">
	<aside class="user_identity">
		<h2>
			<%= avatar_for @u %>
			<%= @u.name %>
		</h2>
	</aside>
	
	<div class="user_profile">
		<p> Name: <%=@u.name %> </p>
		<p> Age:</p>
		<p>Routes Completed:</p>
		<table class="courses_completed">
			<tr>
				<th>Course</th>
				<th>Time to complete</th>
				<th>[Link to course page]</th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<p>Routes in progress:</p>
		<table class="courses_in_progress">
			<tr>
				<th>Course</th>
				<th>Progress</th>
				<th>[Link to course page]</th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>

