<% provide(:title, "About") %> 

<div class="about_page_content">
<h3>About page</h3>

<p>Promptitude aims to encourage users to exercise regularly by providing them with an augmented reality.  </p>
<p>It adds an extra layer of entertainment and convenience to outdoor activities such as jogging or hiking.</p>
<p>  </p>
<p>As the data from Statistics Canada shows, only 9% of 5-to-17 year olds get the 60 minutes of recommended daily heart pumping activities. </p>
<p>The GroupNine team hopes to motivate more youth, young adults, and anyone else who enjoys engaging physically demanding gaming by introducing Promptitude, </p>
<p>a real-world activity augmented with a virtual map-based HUD that promotes physical activity by means of game-like entertainment.</p>
<p>The user’s main objective is to reach waypoints that are shown on a map in a certain order and/or within specific time constraints.  </p>
<p>Users will be able to easily sign up and login from the front page to view or save their achievements.  From there, they can view and </p>
<p>complete daily missions or look for admin-hosted events (live meetups) to attend, acquiring points as they complete these.  Points can be </p>
<p>spent to unlock additional features and waypoints and will be used as part of a scoring system.  As well, it will be possible to create custom </p>
<p>goals/routes and share them with friends or upload them for community use.  Most of the functionalities will be implemented using Google Maps api.  </p>


</div>