<% provide(:title, "Help") %>



<div class="news_page_content" style="	color: #e6e6e8;">
    <H2 style="	color: #e6e6e8;">Help page</H2>
    <p style="color: #e6e6e8;">Contact Us!</p>
    <p style="	color: #e6e6e8;">Group 9</p>
<p style="	color: #e6e6e8;">Danny Wan, dwa76@sfu.ca</p>
<p style="	color: #e6e6e8;">Cesare Liu, cesarel@sfu.ca</p>
<p style="	color: #e6e6e8;"> Jason Coo, jcoo@sfu.ca</p>
<p style="	color: #e6e6e8;">Braeden Mulligan, bmulliga@sfu.ca</p>
<p style="	color: #e6e6e8;">Liangze Hao, liangzeh@sfu.ca</p>
    
    
</div>
