<% provide(:title, "Home") %>

<p class="home_page_text">Hello,</p>
<p class="home_page_text">and welcome to Promptitude.</p>
<div id="home_page_content_left">
    <img src="/assets/home_page_1.png" alt="Introduction_1">
    <p>This is Part1.</p>
</div>
<div id="home_page_content_middle">
    <img src="/assets/home_page_2.png" alt="Introduction_2">
    <p>This is Part2.</p>
</div>
<div id="home_page_content_right">
    <img src="/assets/home_page_3.png" alt="Introduction_3">
    <p>This is Part3.</p>
</div>

