<% provide(:title, "News") %> 

<div class="home_page_content">
<h3>News</h3>
<P>Thanks for using Promptitude! To make our app better for you,</P>
<P> we deploy updates regularly.</P>

<P>Every updates of Promptitude includes improvement of reliabilty and new features.</P>
<P>We will highlight the updates for you in the change log below.</P>

<P>Change Log:</P>
