<% provide(:title, "News") %> 

<div class="home_page_content">
<h3>News</h3>
<P>Thanks for using Promptitude! To make our app better for you,</P>
<P> we deploy updates regularly.</P>

<P>Every updates of Promptitude includes improvement of reliabilty and new features.</P>
<P>We will highlight the updates for you in the change log below.</P>

<P>Change Log:</P>

<div class="table-responsive col-xs-6 col-xs-offset-3 form_style" >
    <table class="news_table">
        <tr>
            <td>0.3.1(2016-3-14)</td>
            <td>
                <li> Project iteration 2 deployed.</li>
                <li> Course prototype is now interactive</li>
            </td>
        </tr>
        <tr>
            <td>0.3.0(2016-3-13)</td>
            <td>
                <li> Bugfixes for asset pipeline use.</li>
                <li> Started using bootstrap and jQuery</li>
                <li> Implement user page functionality and authorization.</li>
                <li> Prototypes for default courses.</li>
            </td>
        </tr>
        <tr>
            <td>0.2.2(2016-3-05)</td>
            <td>
                <li> UI updates.</li>
                <li> User session enhancements.</li>
            </td>
        </tr>      
        
        <tr>
            <td>0.2.1(2016-2-28)</td>
            <td>
                <li> Important UI changes.</li>
            </td>
        </tr>  
        
        
        <tr>
            <td>0.2.0(2016-2-22)</td>
            <td>
                <li> Project iteration 1 deployed.</li>
                <li> Allow users to signup and login.</li>
            </td>
        </tr>  
        
        <tr>
            <td>0.1.1(2016-2-20)</td>
            <td>
                <li> Added a page with geolocation script.</li>
            </td>
        </tr> 
        <tr>
            <td>0.1.0(2016-2-20)</td>
            <td>
                <li> Initial working build deployed.</li>
            </td>
        </tr> 
    </table>
</div>

</div>

