// Place all the styles related to the Maps controller here.
*{cursor: progress !important;}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 120%;
}

#map {
  height: 75%;
  width: 100%;
  margin: auto;
}


.course_list{
	background-color: pink;
}