// Place all the styles related to the Maps controller here.
*{cursor: progress !important;}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
  height: 80%;
  width: 100%;
  margin: auto;
}

.panel{
	height: 20%;
	width: 100%;
	margin: auto;
}

.course_list{
	background-color: pink;
}