// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #300032;
	color: #e6e6e8;
}

/* --- Header --- */
@media screen and (min-device-width: 1345px) {
	.header {
		width:100%;
		height:130px;
		background-color: #06000a;
		text-align: right;
		padding: 0;
		color: #e6e6e8;
		margin: 0;
		font-family: 'Open Sans', sans-serif;
	}
	.navbar{
		width:100%;
		height:130px;
	}
	.nav.navbar-nav{
		margin-left:20px;
		margin-top:60px;
	}
	.nav.navbar-right{
		margin-top:60px;
		margin-right:30px;
	}
	.navbar-header{
		float:left;
	}

}

@media screen and (max-device-width: 1345px) and (min-device-width: 985px){
	.header {
		width:100%;
		height:130px;
		background-color: #06000a;
		text-align: right;
		padding: 0;
		color: #e6e6e8;
		margin: 0;
		font-family: 'Open Sans', sans-serif;
	}
	.navbar{
	width:100%;
	height:130px;
	}
	.nav.navbar-nav{
		margin-left:40px;
	}
	.nav.navbar-right{
		margin-top:10px;
		margin-right:30px;
	}
	.navbar-header{
		float:left;
	}

	
}

@media screen and (max-device-width: 985px) and (min-device-width: 760px){
	.header{
		width:100%;
		height:180px;
		background-color: #06000a;
		text-align: right;
		padding: 0;
		color: #e6e6e8;
		margin: 0;
		font-family: 'Open Sans', sans-serif;
	}
	.navbar{
	width:100%;
	height:180px;
	}
	.nav.navbar-nav{
		margin-top:40px;
	}
	.nav.navbar-right{
		margin-right:40px;
	}
	.navbar-header{
		float:left;
	}

}
@media screen and (max-device-width: 760px){
	.header{
		width:100%;
		height:450px;
		background-color: #06000a;
		padding: 0;
		color: #e6e6e8;
		margin: 0;
		font-family: 'Open Sans', sans-serif;
	}
	.navbar-header{
		text-align:center;
	}
	.navbar{
	width:100%;
	height:450px;
	}
	.nav.navbar-nav{
		float:top;
		text-align:center;
	}
	.nav.navbar-right{
		float:top;
		text-align:center;
	}
}


.navbar-login{
	padding-right:3%;
	margin-right:50px;
}
.logo{
	max-width:100%;
	max-height:100%;
}
.mylogin{
	background-color: #F79220;
	color: #e6e6e8;
	text-decoration: none;
	font-family: sans-serif;
	border-radius: 3px;
	padding: 5px 10px;	
	border: none;
}
.mylogin:hover {
	background-color: #F79220;
}
.mylogin:active {
	background-color: #F79220;
	box-shadow: inset 0 0 7px 1px black;
}
.navbar-form{
	color:black;
}
.checkbox{
	color: #e6e6e8;
}


/* --- Home Page Content --- */
@media screen and (min-device-width: 550px){
	.content {
		min-width: 320px;
		margin:auto;
		text-align: center;
		min-height: 75%;
		background-color:#300032;
	}
	.home_page_content{
		color:#e6e6e8;
		width:20%;
		font-size: 100%;
	}
	.home_page_content.step1{
		margin-left:7%;
		margin-right:5%;
		float:left;
	}
	.home_page_content.step2{
		margin-left:8%;
		margin-right:5%;
		float:left;
	}
	.home_page_content.step3{
		margin-left:5%;
		margin-right:7%;
		float:right;
	}
	.home_page_text{
		font-size: 2em;
		text-align:center; 
		color:#e6e6e8;
		margin:0 0 0 0;
		padding-top:20px;
		font-family: 'Open Sans', sans-serif;
	}
}

@media screen and (max-device-width: 550px){
	.content {
		min-width: 320px;
		margin:auto;
		text-align: center;
		height: 800px;
		background-color:#300032;
	}
	.home_page_content{
		color:#e6e6e8;
		margin-left: 30%;
		margin-right: 30%;
		width: 40%;
		font-size: 100%;
		text-align:center;
		float:top;
	}
	.home_page_text{
		font-size: 1.5em;
		text-align:center; 
		color:#e6e6e8; 
		margin: 0 0 0 0;
		padding-top:20px;
		font-family: 'Open Sans', sans-serif;
	}
	
}
.about_page_content{
	margin-top:-20px;
	color:#e6e6e8;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}
.news_page_content{
	margin-top:-20px;
	color:#e6e6e8;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}
.news_table{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	overflow: auto;
}
.news_table tr td{
	padding: 15px;
	border-collapse: collapse; 
	border-color:#e6e6e8;
}


.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border-bottom: 0px !important;
    border : 0px !important;
    padding: 0 0 0 0;
}

.form_style{
	color: #e6e6e8;
}

.home_page_image{
	
}

/* --- Footer --- */
.footer {
	width: 100%;
	text-align: center;
	padding: 5px 0 20px 0;
	line-height: 1.5;
	overflow: hidden;
	background-color: #06000a;
	color: #e6e6e8;
}
hr{
	height: 1px;
	color: gray;
}
.menu{
	padding: 0 0 0 0;
}
.menu ul {
	margin: 0;
	padding: 0;
}
.menu ul li {
	display:inline;
}
.menu ul li a {
	background-color: #F79220;
	color: #e6e6e8;
	text-decoration: none;
	font-family: sans-serif;
	border-radius: 3px;
	padding: 5px 10px;
}
.menu ul li a:hover {
	background-color: #F79220;
}
.menu ul li a:active {
	background-color: #F79220;
	box-shadow: inset 0 0 7px 1px black;
}
.mission_statement{
	padding-left: 8%;
	float: left;
	width: 35%;
	min-width: 320px;
	display: block;
	text-align: left;
}
.copyright{
	display: block;
	clear: both;
}

/* --- Yield Container --- */


.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}