// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* --- new --- */
.registration {
	margin: 0 0 20px 0;	
}

.form-control {
	display: block;
	margin: auto;
}



/* --- show --- */
.profile_container {
	text-align: left;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 30px 10px 30px 10px;
	padding-left:30px;
}

.user_identity {
	float: left;
	margin: 0 0 0 50px;
}

.user_profile {
	clear: left;
}
table,th,td{
	border: 1px solid black;
}