<footer class="footer">
  <nav class="menu">
    <ul>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign up", '#' %></li>
    </ul>
  </nav>
  <small>
    (c) 2016
  </small>
</footer>