<footer class="footer">

  <nav class="menu">
    <ul>
      <li ><%= link_to "Help", help_path %></li>
      <li ><%= link_to "Sign up", signup_path %></li>
    </ul>
  </nav>
  <small style="text-align: left;"> Off the R.A.I.L.S. aims to introduce the users to a more physically active lifestyle. The main
objective is to encourage users to daily exercising while providing an extra layer of entertainment to activity such as jogging or running.
 </small>
  
 <br> 
 <small style="text-align:center;">
   <%= link_to "Off the R.A.I.L.S.", root_path %> 
   &copy; 2016. All Rights Reservered.
   
   </small> </br>
</footer>