<footer class="footer">

  <hr>
  <nav class="menu">
    <ul>
      <li ><%= link_to "Help", help_path %></li>
      <li ><%= link_to "Sign up", signup_path %></li>
    </ul>
  </nav>
  <small class="mission_statement"> Promptitude aims to encourage users to exercise regularly by providing them with an augmented reality.  It adds an extra layer of entertainment and convenience to outdoor activities such as jogging or hiking.
  </small>
  
 <small class="copyright">
   <%= link_to "Promptitude", root_path %> 
   &copy; 2016.
 </small>

</footer>