<header class="header">
	<h3 class="banner">276 Group 9</h3>
	<nav class="menu">
  		<ul class="navbar" >
  			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Maps", location_path %></li>
    	</ul> 
	</nav>
</header>